# Flask
DEBUG = True
ENV = 'dev'
HOSTNAME = 'localhost'
PORT = 8080
USE_RELOADER = True
USE_EVALEX = True
PREFIX = '/taiga'

# Amazon Web Services
AWS_ACCESS_KEY_ID = ''
AWS_SECRET_ACCESS_KEY = ''

CLIENT_UPLOAD_AWS_ACCESS_KEY_ID = ''
CLIENT_UPLOAD_AWS_SECRET_ACCESS_KEY = ''

S3_BUCKET = ''

# Database configuration
SQLALCHEMY_DATABASE_URI = 'sqlite://'

# Exception to StackDriver
REPORT_EXCEPTIONS = True