{% extends "base.tpl" %}

{% block title %}Dataset{% endblock %}

{% block content %}
    <div id="cy" style="width: 1000px; height: 500px; border: solid black;"></div>
{% endblock %}

{% block scripts %}
    <script> dep_graph = {{ graph|tojson }};</script>
  <script src="{{ url_for("static", filename="vendors/requirejs/require.js") }}"></script>
  <script src="{{ url_for("static", filename="config.js") }}"></script>
  <script src="{{ url_for("static", filename="app.js") }}"></script>
{% endblock %}