.confirmationHeader {
  h4 {
    font-size: 16px;
  }
}

.confirmationBody {
  font-size: 15px;
  padding-bottom: 10px;
}

.dontShowThisAgain {
  position: relative;
  top: 20px;
  font-size: 13px;

  label {
    font-weight: normal;
    cursor: pointer;
    margin: 0;
    line-height: 22px;
  }

  span {
    margin: 5px;
    vertical-align: top;
  }
}

