.upload-to-figshare-modal {
  min-width: 66%;
}

.figshare-upload-files-table > tbody > tr > td {
  vertical-align: middle !important;
}

.textarea-lock-width {
  resize: vertical;
}

.figshare-modal-body {
  max-height: 66vh;
  overflow-y: auto;
}
